Lista participantes XcVenturi.xlsx
Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
GFG.csv
formato_da_apuracao.csv
demo.txt
apuracao.csv
~$Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
Rampas/~$Rampas XC Brasil.xlsx
voos_validos.csv
Rampas/Lixo/Rampas_Filtradas.csv
