Lista participantes XcVenturi.xlsx
Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
GFG.csv
demo.txt
apuracao.csv
~$Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
Rampas/~$Rampas XC Brasil.xlsx
voos_validos.csv
Rampas/Lixo/Rampas_Filtradas.csv
build
dist/apurador_xcv.exe
apurador_xcv.spec
dist/apurador_xcv
requirements.old
venv
texto_data.txt
build/apurador_xcv/localpycs/pyimod04_pywin32.pyc
base_de_dados_old.db
texto_data.txt
base_de_dados.db
base_de_dados.db
