Lista participantes XcVenturi.xlsx
Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
GFG.csv
demo.txt
apuracao.csv
~$Liga XC Venturi 2022 - 7º Edição - Planilha de C.xlsx
Rampas/~$Rampas XC Brasil.xlsx
voos_validos.csv
Rampas/Lixo/Rampas_Filtradas.csv
build/apurador_xcv/Analysis-00.toc
build/apurador_xcv/apurador_xcv.exe.manifest
build/apurador_xcv/apurador_xcv.pkg
build/apurador_xcv/base_library.zip
build/apurador_xcv/EXE-00.toc
build/apurador_xcv/PKG-00.toc
build/apurador_xcv/PYZ-00.pyz
build/apurador_xcv/PYZ-00.toc
build/apurador_xcv/warn-apurador_xcv.txt
build/apurador_xcv/xref-apurador_xcv.html
build/apurador_xcv/localpycs/pyimod01_archive.pyc
build/apurador_xcv/localpycs/pyimod02_importers.pyc
build/apurador_xcv/localpycs/pyimod03_ctypes.pyc
build/apurador_xcv/localpycs/pyimod04_pywin32.pyc
build/apurador_xcv/localpycs/struct.pyc
dist/apurador_xcv.exe
apurador_xcv.spec
dist/apurador_xcv
requirements.old
venv
